@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

/* @import './common/_normalize.css' layer(base); */
@import './common/_base.css' layer(base);
@import './common/_a11y.css' layer(utilities);
@import './common/_animation.css' layer(utilities);
